<h2>Creator: Isaiah Duncan</h2>
<br>
<br>
<p>This website is  a crowd sourced application that stores data 
    about musical artists such as their albums,
     record label, amount of Instagram Followers,
      and pictures relating to them.
      <br><br>
      Some cool pages for you to visit are: 
      <br>/gallery - the gallery page where you can view all of the pictures relating to the 
      artist which all have links to their respective artists' page
      <br>/create - the create artist page which allows you to add artists into the database
      <br>/createAlbum - the creeate album page that allows you to add an album to an artist's albums list given the artist's id
      </p>