<h1>Create New Album</h1>
<article>
    <form method="POST" action="/createAlbum">
        <div class="input-field">
            <label>Artist ID</label>
            <input type="text" name="id" size="50" placeholder="ID of the Artist that the new Album is going to">
        </div>
        <div class="input-field">
            <label>Name</label>
            <input type="text" name="name" size="50" placeholder="Name of the new Album"></input>
        </div>
        <div class="input-field">
            <label>Year</label>
            <input type="text" name="year" size="50" placeholder="In what year did this album come out?"></input>
        </div>
        <button type="submit">Add A New Album</button>
    </form>
</article>
